<div class="container">
  <p>Add new book</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">  

    <div class="form-group">
      <label>Enter book id</label>
      <input 
        type="text" 
        formControlName="id" 
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.id.errors }" 
        placeholder="Enter book id"
        [(ngModel)]="data.id"
      />
      <div *ngIf="submitted && !!f.id.errors" class="invalid-feedback">
          <div *ngIf="!!f.id.errors.required">Book id is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>What's your author?</label>
      <input 
        type="text" 
        formControlName="author" 
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.author.errors }" 
        placeholder="Enter author name"
        [(ngModel)]="data['Author Name']"
      />
      <div *ngIf="submitted && !!f.author.errors" class="invalid-feedback">
          <div *ngIf="!!f.author.errors.required">Author name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>What's the published date?</label>
      <input 
            matInput [matDatepicker]="picker" placeholder="Choose a date" 
            
            [(ngModel)]="data['Published Date']"
            [max]="maxDate"
            [min]="minDate"
            formControlName="date" 
            class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <div *ngIf="submitted && !!f.date.errors" class="invalid-feedback">
          <div *ngIf="!!f.date.errors.required">Published date is required</div>
          <div *ngIf="!!f.date.errors.min && !!f.date.errors.max">Published date is out</div>
          <div *ngIf="!!f.date.errors.minlength">Published date is short</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="title">What's your book title?</label>
      <input 
        type="text" 
        formControlName="title" 
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }" 
        [(ngModel)]="data['Book Title']"
        placeholder="Enter book title"
      >
        <div *ngIf="submitted && !!f.title.errors" class="invalid-feedback" >
            <div *ngIf="!!f.title.errors.required">Book title is required</div>
        </div> 
    </div>
  </form>    
  
  <div class="buttons">
    <button class="btn btn-primary btn-lg" (click)="onSubmit()">Save</button>
    <button class="btn btn-basic btn-lg" (click)="onCloseNo()">Cancel</button>
  </div>
</div>
  
  <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['Author Name'].errors }" />
        <div *ngIf="submitted && f['Author Name'].errors" class="invalid-feedback">
            <div *ngIf="f['Author Name'].errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
    </div>  
  </form> -->


  <!-- <div mat-dialog-actions>
    <button mat-button (click)="onCloseNo()">Cancel</button>
    <button mat-button (click)="onCloseOk()" [disabled]="author.errors">Save</button>
  </div> -->