<div class="container">
  
  <p>Book id: {{data.id}}</p>
  
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">  

    <div class="form-group">
      <label>Edit book id</label>
      <input 
        type="text" 
        formControlName="id" 
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.id.errors }" 
        placeholder="Enter book id"
        [(ngModel)]="data.id"
      />
      <div *ngIf="submitted && !!f.id.errors" class="invalid-feedback">
          <div *ngIf="!!f.id.errors.required">Book id is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>What's your author?</label>
      <input 
        type="text" 
        formControlName="author" 
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.author.errors }" 
        [(ngModel)]="data['Author Name']"
      />
      <div *ngIf="submitted && !!f.author.errors" class="invalid-feedback">
          <div *ngIf="!!f.author.errors.required">Author name is required</div>
      </div>
    </div>
    
    <div class="form-group">
      <label>What's your date?</label>
      <input 
        type="text" 
        formControlName="date" 
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.date.errors }" 
        [(ngModel)]="data['Published Date']"
      >

      <div *ngIf="submitted && !!f.date.errors" class="invalid-feedback">
          <div *ngIf="!!f.date.errors.required">Published date is required</div>
          <div *ngIf="!!f.date.errors.pattern">Published date is wrong</div>
      </div>
    </div>

    <div class="form-group">
      <label for="title">What's your book title?</label>
      <input 
        type="text" 
        formControlName="title" 
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }" 
        [(ngModel)]="data['Book Title']"
      />
        <div *ngIf="submitted && !!f.title.errors" class="invalid-feedback" >
            <div *ngIf="!!f.title.errors.required">Book title is required</div>
            <div *ngIf="!!f.title.errors.pattern">Book title can contain only letters or numbers</div>
        </div> 
    </div>
  </form>    

  <div class="buttons">
    <button class="btn btn-primary" (click)="onSubmit()">Save</button>
    <button class="btn btn-basic" (click)="onCloseNo()">Cancel</button>
  </div>
</div>