<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Author Name</th>
          <th class="text-center">Published Date</th>
          <th class="text-center">Book Title</th>
          <th class="text-center"><button mat-raised-button class="btn btn-success" (click)="addDialog()"><mat-icon>add</mat-icon></button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let folder of mydata?.books; let i=index;">

          <td>{{folder.id}}</td>
          <td>{{folder["Author Name"]}}</td>
          <td>{{folder['Published Date']}}</td>
          <td>{{removeReg(folder['Book Title']) | titlecase}}</td>
          <button mat-raised-button class="btn btn-primary" (click)="editDialog(folder)"><mat-icon>edit</mat-icon></button>          
          <button mat-raised-button class="btn btn-danger" (click)="deleteDialog(i)"><mat-icon>delete</mat-icon></button>
          </tr>
          
        </tbody>

    </table>
  </div>
</div>
