.container{
    text-align: center;
}
button{
    text-align: center;
    margin: 5px;
}

.table {
    border-collapse: collapse;
    margin: 15px;
    border: 1px solid grey;
}

td {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border: 1px solid gray;
}

th{
    font-size: 30px;
    padding: 15px;
    border: 1px solid gainsboro;
}
tr:nth-child(even) {background-color: #f2f2f2;}